<a href="https://colab.research.google.com/github/RodrigoLefin/Clase1_Diplomado25-04-2022/blob/main/Prueba_recuperativa_python_herramientas_analisis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Prueba Recuperativa Python herramientas de análisis

### Nombre: Rodrigo Lefin Carrasco.

### Objetivo de la Prueba

Utilizando la base de datos CASEN 2017, realice un estudio que explique la brecha salarial,con las siguientes variables: y1, y2_dias, y2_hrs, sexo, edad, ch1.

Se pide que haga uso de todos los conocimientos abordados en clase y los que estime convenientes para generar un buen análisis. Para ello deberá, entregar estadística descriptiva de cada variable, darle formato correcto a los datos, visualizar valores atípicos ¿qué opina de los gráficos?, estandarizar e imputar si considera necesario; fundamentando cualquier decisión; corroborar la relación entre variables.

Finalmente, debe hacer entrega de un modelo de regresión simple y otro modelo de
regresión múltiple, ambos con predicciones y sus respectivos análisis en base a los valores obtenidos.

#### ¿Que se entiende por brecha Salarial?
Para responder a esta pregunta tomaremos el concepto definido por ONU Mujeres, el cual señala que La brecha salarial de género se define como la diferencia entre la mediana de los ingresos de los hombres y de las mujeres en relación con la mediana de los ingresos de los hombres.

En base a este concepto trabajaremos en el analisis de los datos.

#### 1. Identificar y Conectar Database

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats
import sklearn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [6]:
df_CA17 = pd.read_csv('/content/drive/MyDrive/CASEN_2017.csv', sep=';', encoding='latin-1', engine='python', on_bad_lines='skip')

In [7]:
df_CA17.head(10)

,folio,o,id_vivienda,hogar,region,provincia,comuna,zona,expr,expc,...,hh_d_estado,hh_d_servbas,hh_d_entorno,hh_d_accesi,hh_d_medio,hh_d_appart,hh_d_tsocial,hh_d_seg,pobreza_multi_4d,pobreza_multi_5d
0,110110020201,1,1101100202,1,Región de Tarapacá,Iquique,Iquique,Urbano,39,33,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN
1,110110020301,1,1101100203,1,Región de Tarapacá,Iquique,Iquique,Urbano,39,33,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Pobre,Pobre
2,110110020401,1,1101100204,1,Región de Tarapacá,Iquique,Iquique,Urbano,39,33,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN
3,110110020401,2,1101100204,1,Región de Tarapacá,Iquique,Iquique,Urbano,39,33,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN
4,110110020501,1,1101100205,1,Región de Tarapacá,Iquique,Iquique,Urbano,39,33,...,1.0,1.0,1.0,0.0,1.0,NaN,1.0,0.0,No pobre,NaN
5,110110020501,2,1101100205,1,Región de Tarapacá,Iquique,Iquique,Urbano,39,33,...,1.0,1.0,1.0,0.0,1.0,NaN,1.0,0.0,No pobre,NaN
6,110110020501,3,1101100205,1,Región de Tarapacá,Iquique,Iquique,Urbano,39,33,...,1.0,1.0,1.0,0.0,1.0,NaN,1.0,0.0,No pobre,NaN
7,110110020601,1,1101100206,1,Región de Tarapacá,Iquique,Iquique,Urbano,39,33,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,Pobre,Pobre
8,110110020601,2,1101100206,1,Región de Tarapacá,Iquique,Iquique,Urbano,39,33,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,Pobre,Pobre
9,110110020901,1,1101100209,1,Región de Tarapacá,Iquique,Iquique,Urbano,39,33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [9]:
df_CA17.tail(5)

,folio,o,id_vivienda,hogar,region,provincia,comuna,zona,expr,expc,...,hh_d_estado,hh_d_servbas,hh_d_entorno,hh_d_accesi,hh_d_medio,hh_d_appart,hh_d_tsocial,hh_d_seg,pobreza_multi_4d,pobreza_multi_5d
216434,1520130021601,1,15201300216,1,Región de Arica y Parinacota,Parinacota,Putre,Rural,7,4,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Pobre,Pobre
216435,1520130021601,2,15201300216,1,Región de Arica y Parinacota,Parinacota,Putre,Rural,7,4,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Pobre,Pobre
216436,1520130021701,1,15201300217,1,Región de Arica y Parinacota,Parinacota,Putre,Rural,7,4,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Pobre,Pobre
216437,1520130021701,2,15201300217,1,Región de Arica y Parinacota,Parinacota,Putre,Rural,7,4,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Pobre,Pobre
216438,1520130021801,1,15201300218,1,Región de Arica y Parinacota,Parinacota,Putre,Rural,7,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No pobre,No pobre

#### 2. Reconocimiento de Columnas & Filas

In [10]:
print("Qty of rows, Columns", df_CA17.shape)
df_CA17.info()

Qty of rows, Columns (216439, 804)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216439 entries, 0 to 216438
Columns: 804 entries, folio to pobreza_multi_5d
dtypes: float64(147), int64(117), object(540)
memory usage: 1.3+ GB

In [11]:
print("Columns:", list(df_CA17.columns.values))

Colums: ['folio', 'o', 'id_vivienda', 'hogar', 'region', 'provincia', 'comuna', 'zona', 'expr', 'expc', 'expr_div', 'varstrat', 'varunit', 'fecha_dia', 'fecha_mes', 'fecha_año', 'tot_hog', 'tot_per', 'tot_par', 'tot_nuc', 'pres', 'marca', 'pco1', 'sexo', 'edad', 'h4m', 'h4a', 'ecivil', 'h6l', 'h6h', 'pareja', 'nucleo', 'pco2', 'h9a', 'h9a_esp', 'h9', 'h10a', 'h10b', 'h10c', 'h10d', 'h10e', 'h10f', 'e1', 'e2', 'e3', 'e4', 'e4_esp', 'e5a', 'e5a_esp', 'e5b', 'e6a', 'e6b', 'e7', 'e7_subarea', 'e7_cod_area', 'e8', 'e9nom', 'e9dir', 'e9com', 'e9com_c_cod', 'e9com_p_cod', 'e9rbd', 'e9rbd_sup', 'e9depen', 'e9dv', 'e9te', 'e9sup_g', 'e10', 'e11', 'e12a', 'e12b', 'e12c', 'e12d', 'e12e', 'e13a', 'e13b1', 'e13b1_esp', 'e13b2', 'e13b2_esp', 'e14pbu', 'e14pbt', 'e14pbd', 'e14pbm', 'e14bu', 'e14bt', 'e14bd', 'e14bm', 'e14bpc', 'e14mu', 'e14mt', 'e14md', 'e14mm', 'e15a', 'e15b', 'e16', 'e17', 'e18a', 'e18b', 'e19_1', 'e19_2', 'e0', 'o1', 'o2', 'o3', 'o4', 'o5', 'o6', 'o7r1', 'o7r2', 'o8', 'o9a', 'o9b', 'oficio4', 'oficio1', 'o10', 'o11', 'o12', 'o13', 'o14', 'o15', 'o16', 'o17', 'o18', 'o19', 'o20', 'o21', 'o22', 'rama4_sub', 'rama1_sub', 'rama4', 'rama1', 'o23', 'o24a', 'o24b', 'o24c', 'o24d', 'o25a_hr', 'o25a_min', 'o25b', 'o25c', 'o25c_esp', 'o25d', 'o25e', 'o26', 'o27', 'o28', 'o29', 'o29_esp', 'o30', 'o0', 'ch1', 'y1', 'y2_dias', 'y2_hrs', 'y3a', 'y3ap', 'y3b', 'y3bp', 'y3c', 'y3cp', 'y3d', 'y3dp', 'y3e', 'y3ep', 'y3f', 'y3fp', 'y3f_esp', 'y4a', 'y4b', 'y4c', 'y4d', 'y4d_esp', 'y5a', 'y5b', 'y5c', 'y5d', 'y5e', 'y5f', 'y5g', 'y5h', 'y5i', 'y5j', 'y5k', 'y5l', 'ch2', 'y6', 'y7', 'y8', 'y9', 'ch3', 'y10', 'y11', 'y12a', 'y12b', 'y13a', 'y13b', 'y13c', 'y14a', 'y14b', 'y14c', 'y15a', 'y15b', 'y15c', 'y16a', 'y16b', 'y17', 'y18a', 'y18b', 'y18c', 'y18d', 'y18d_esp', 'y19t', 'y19n', 'y20a', 'y20b', 'y20c', 'y20d', 'y20e', 'y20amonto', 'y20bmonto', 'y20cmonto', 'y20dmonto', 'y20emonto', 'y21a', 'y21b', 'y22a', 'y22b', 'y22c', 'y22d', 'y22e', 'y22amonto', 'y22bmonto', 'y22cmonto', 'y22dmonto', 'y22emonto', 'y23a', 'y23b', 'y23c', 'y23bmonto', 'y23cmonto', 'y24', 'y24_o', 'y25a', 'y25b', 'y25c', 'y25d', 'y25amonto', 'y25bmonto', 'y25cmonto', 'y25dmonto', 'y25e', 'y25e_o', 'y25ep', 'y25f', 'y25f_o', 'y25fp', 'y25g', 'y25gp', 'y25g_esp', 'y26_1a', 'y26_1b', 'y26_1c', 'y26_1d', 'y26_1e', 'y26_1f', 'y26_1g', 'y26_1h', 'y26_1i', 'y26_1j', 'y26_1jesp', 'y26_1amonto', 'y26_1dmonto', 'y26_2bm1', 'y26_2bm2', 'y26_3b_in', 'y26_4b_mo', 'y26_2c', 'y26_3c_in', 'y26_4c_mo', 'y26_2em1', 'y26_2em2', 'y26_3e_in', 'y26_4e_mo', 'y26_2f', 'y26_3f_in', 'y26_4f_mo', 'y26_2g', 'y26_3g_in', 'y26_4g_mo', 'y26_2h', 'y26_3h_in', 'y26_4h_mo', 'y26_2i', 'y26_2j', 'y26_3j_in', 'y26_4j_mo', 'y27a', 'y27b', 'y27c', 'y27d', 'y27e', 'y27f', 'y27g', 'y0', 's1', 's1c', 's2a1', 's2a2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's13p', 's14', 's15', 's16', 's17', 's18a', 's18b', 's18c', 's18d', 's18e', 's19a', 's19b', 's19c', 's20a', 's20b', 's20c', 's21a', 's21b', 's21c', 's22a', 's22b', 's22c', 's23a', 's23b', 's23c', 's24a', 's24b', 's24c', 's25a', 's25b', 's25c', 's26a', 's26b_c1', 's26b_c2', 's26b_c3', 's26c', 's26d', 's27a', 's27b', 's27c', 's27d', 's28', 's29', 's30', 's31a1', 's31a2', 's31a3', 's32a', 's32b', 's32c', 's32d', 's32e', 's32f', 's33a1', 's33a2', 's33b1', 's33b2', 's33c1', 's33c2', 's33d1', 's33d2', 's33e1', 's33e2', 's33f1', 's33f2', 's33g1', 's33g2', 's33h1', 's33h2', 's33i1', 's33i2', 's33j1', 's33j2', 'ch4', 's34a', 's34b_ord', 's34c', 's0', 'r1a', 'r1a_esp', 'r1a_cod', 'r1b', 'r1b_esp', 'r1b_c_cod', 'r1b_p_cod', 'r1c_año', 'r1cp', 'r2', 'r2_esp', 'r2_c_cod', 'r2_p_cod', 'r3', 'r4', 'r5', 'r6', 'r6_esp', 'r7a', 'r7b', 'r7c', 'r7d', 'r7e', 'r7f', 'r7g', 'r7h', 'r7i', 'r7j', 'r7k', 'r8a', 'r8b', 'r8c', 'r8d', 'r8e', 'r8f', 'r8g', 'r8h', 'r9a', 'r9b', 'r9c', 'r9d', 'r9e', 'r9f', 'r9g', 'r9h', 'r9i', 'r9j', 'r9k', 'r9l', 'r9m', 'r9n', 'r9o', 'r9p', 'r9q', 'r9r', 'r9r_esp', 'r9s', 'r10a', 'r10b', 'r10c', 'r10d', 'r10e', 'r10f', 'r10g', 'r10h', 'r10i', 'r10i_esp', 'r11', 'r12a', 'r12b', 'r13a', 'r13b', 'r14', 'r15', 'r16a', 'r16b', 'r16c', 'r16d', 'r16e', 'r17a', 'r17b', 'r17c', 'r17d', 'r18', 'r19', 'r20', 'r21a', 'r21b', 'r21c', 'r21d', 'r21e', 'r21f', 'r21g', 'r21h', 'r21i', 'r21j', 'r22', 'r23', 'r23_esp', 'r24', 'r24_esp', 'r0', 'v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11_o1', 'v11_o2', 'v12', 'v12mt', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v20_esp', 'v21', 'v22', 'v23', 'v24', 'v25', 'v26', 'v27a', 'v27b', 'v28', 'v29', 'v30a', 'v30b', 'v31', 'v31_esp', 'v32', 'v32_esp', 'v33', 'v34', 'v34_esp', 'v35', 'v35_esp', 'v36a', 'v36b', 'v36c', 'v37a', 'v37b', 'v37c', 'v37d', 'v37e', 'v37f', 'v37g', 'v37h', 'v37i', 'v38a', 'v38b', 'v38c', 'v38d', 'v38e', 'v39a', 'v39b', 'v39c', 'v39d', 'v39e', 'v39f', 'v39g', 'v40', 'v40_esp', 'v0a_1', 'v0a_2', 'v0a_3', 'v0b', 'y0101', 'y0301', 'y0302', 'y0303', 'y0304', 'y0305', 'y0306', 'y0401', 'y0402', 'y0403', 'y0404', 'y0501', 'y0502', 'y0503', 'y0504', 'y0505', 'y0506', 'y0507', 'y0508', 'y0509', 'y0510', 'y0511', 'y0512', 'yids', 'yosa', 'yta1', 'y0701', 'y0801', 'y0901', 'yac2', 'y1101', 'yosi', 'yta2', 'yre1', 'yama', 'yah1', 'yah2', 'yrut', 'yre2', 'yre3', 'y260201', 'y260202', 'y2603', 'yinv01', 'yinv02', 'yinv03', 'ymon', 'yorf', 'yesp', 'yotp', 'y2601', 'y2604', 'ymes', 'yfa1', 'yfa2', 'ydes', 'ydon', 'ydim', 'yotr', 'y2301', 'y2401', 'y2501', 'y2502', 'y2503', 'y2504', 'y2505', 'y2506', 'y2507', 'y2302', 'y2303', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2201', 'y2202', 'y2203', 'y2204', 'y2205', 'yfam', 'ytro', 'yaut', 'ysub', 'ytot', 'y0101h', 'y0301h', 'y0302h', 'y0303h', 'y0304h', 'y0305h', 'y0306h', 'y0401h', 'y0402h', 'y0403h', 'y0404h', 'y0501h', 'y0502h', 'y0503h', 'y0504h', 'y0505h', 'y0506h', 'y0507h', 'y0508h', 'y0509h', 'y0510h', 'y0511h', 'y0512h', 'yosah', 'ytroh', 'yta1h', 'y0701h', 'y0801h', 'y0901h', 'yosih', 'yta2h', 'yruth', 'yac2h', 'ydesh', 'yidsh', 'yotrh', 'y260201h', 'y2603h', 'yinv01h', 'yinv03h', 'ymonh', 'yorfh', 'yotph', 'yre1h', 'yre2h', 'yre3h', 'yamah', 'yah1h', 'yah2h', 'ydonh', 'ymesh', 'yfa1h', 'yfa2h', 'y1101h', 'ydimh', 'yfamh', 'y2001h', 'y2002h', 'y2003h', 'y2004h', 'y2005h', 'y2201h', 'y2202h', 'y2203h', 'y2204h', 'y2205h', 'y2301h', 'y2302h', 'y2303h', 'y2401h', 'y2501h', 'y2502h', 'y2503h', 'y2504h', 'y2505h', 'y2506h', 'y2507h', 'y2601h', 'y260202h', 'yinv02h', 'y2604h', 'yesph', 'yauth', 'ysubh', 'ytoth', 'yaimh', 'ypch', 'y0101c', 'y0701c', 'y260201c', 'y2603c', 'y0101ch', 'y0701ch', 'y2603ch', 'y260201ch', 'yaimcorh', 'yautcor', 'ytotcor', 'yautcorh', 'ymonecorh', 'ytotcorh', 'yoprcor', 'yoprcorh', 'ytrabajocor', 'ytrabajocorh', 'ypchautcor', 'ypc', 'ypchtrabajo', 'pobreza', 'dau', 'dautr', 'qaut', 'qautr', 'numper', 'asiste', 'esc', 'educ', 'depen', 'activ', 'indmat', 'indsan', 'calglobviv', 'iae', 'iai', 'hacinamiento', 'hh_d_asis', 'hh_d_rez', 'hh_d_esc', 'hh_d_mal', 'hh_d_prevs', 'hh_d_acc', 'hh_d_act', 'hh_d_cot', 'hh_d_jub', 'hh_d_habitab', 'hh_d_hacina', 'hh_d_estado', 'hh_d_servbas', 'hh_d_entorno', 'hh_d_accesi', 'hh_d_medio', 'hh_d_appart', 'hh_d_tsocial', 'hh_d_seg', 'pobreza_multi_4d', 'pobreza_multi_5d']

#### El reconocimiento de los datos está determinado por:

La base de datos tiene 216.439 observaciones (Filas), cada observación hace referencia a las viviendas en Chile.
También se puede observar que la base de datos posee 804 columnas, de las cuales 6 se desprendera el analisis de esta prueba:

#####1.y1: Ingresos de las viviendas.
#####2.y2_dias: días trabajados.
#####3.y2_hrs: horas trabajas.
#####4.sexo: Género de los encuestados.
#####5.edad: Edad de los encuestados. 
#####6.ch1: Situación Laboral.


##### Tipos de Datos:
###### Float: (147) Este tipo de dato se corresponde con números reales con parte decimal. Cabe destacar que el separador decimal en Python es el punto (.) y no la coma (,).
###### Int: (117) Este tipo de dato comprende el conjunto de todos los números enteros.
###### Object:(540) Secuencias de caracteres pueden contener números y / o caracteres.

#### 3. Limpieza y análisis de datos

##### Crear Dataframe para analizar las sólo las columnas que son parte del analisis.

In [13]:
df_CASEN17 = df_CA17[["y1","y2_dias", "y2_hrs", "sexo", "edad", "ch1"]]
df_CASEN17.head(5)

,y1,y2_dias,y2_hrs,sexo,edad,ch1
0,NaN,NaN,NaN,Mujer,56,Patrón o empleador/ Trabajador Cuenta Propia
1,200000,30,216,Mujer,21,Asalariado
2,270000,30,192,Hombre,24,Asalariado
3,300000,30,192,Hombre,28,Asalariado
4,320000,30,192,Hombre,26,Asalariado

In [14]:
df_CASEN17.isna().sum()

y1         147809
y2_dias    147809
y2_hrs     147809
sexo            0
edad            0
ch1             0
dtype: int64

##### Debido a que existen muchos valores NaN; imputaremos estas observaciones eliminandolas, debido a que no tenemos información al respecto.
A nivel de porcentaje los NaN representan un 68,3% del total de la muestra; es por ello que es imprescindible crear otras estrategias (CASEN) para obtener una mayor calidad de los datos.

##### De aqui en adelante trabajaremos con el 31,7% de los datos.

In [15]:
df_CASEN17.dropna(inplace = True)
print (df_CASEN17.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68630 entries, 1 to 216429
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   y1       68630 non-null  object
 1   y2_dias  68630 non-null  object
 2   y2_hrs   68630 non-null  object
 3   sexo     68630 non-null  object
 4   edad     68630 non-null  int64
 5   ch1      68630 non-null  object
dtypes: int64(1), object(5)
memory usage: 3.7+ MB
None

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)